<div class="row">
  <div class="col md 6">
  <ul>
   <h2>Quotes</h2>
  <div *ngFor='let quote of quotes;let i =index'>
    <li appHighlight>"{{quote.quote}}"</li>

    <button class="btn" (click)='toggleDeets(i)'>Show/Hide details</button>
    <button (click)='upVote(i)'>Upvote</button>
    <button (click)='downVote(i)'>Downvote</button>

    
    <div *ngIf="quote.showDetails">
      <app-details  [quote]='quote' (isNotWanted)= 'deleteQuote($event,i)'></app-details>
  </div>
</div>
  </ul>
</div>
<div class="col md 6">

  <div class="container" id="lolo">
    <div class="row">
        <app-user-form (addQuote)="addNewQuote($event)"></app-user-form>
    </div>
</div>
</div>
  <!-- <app-details></app-details> -->


</div>

