<!-- <div  class="ok">
<h2>Author</h2>
<ul>
  <li *ngFor="let quote of quotes;let i = index" >{{quote.author}}</li>
</ul>
</div>
<div  class="ok">
<h2>Upvotes</h2>
<ul>
  <li *ngFor="let quote of quotes;let i = index">{{quote.upvotes}}</li>
</ul>
</div>
<div class="ok">
  <h2>Downvotes</h2>
<ul>
  <li *ngFor="let quote of quotes;let i = index">{{quote.downvotes}}</li>
</ul>
</div> -->
<div class="row">
  <div class="col md 6">
<p>Author: ~ {{quote.author}}</p>
<p>Added by: {{quote.userNames}}</p>

</div>
<div class="col md 6">
<p>{{quote.upvotes}} upvotes</p>

<p>{{quote.downvotes}} downvotes</p>
</div>

</div>
<div class="row">
    <div class="col md 6">
<p>Uploaded on : {{quote.uploadDate}}</p>
</div>
<div class="col md 6">
<p>Been on Citar for {{quote.uploadDate|timeCount}} days</p>
</div>
</div>

    
<button (click) = 'deleteQuote(true)'> Delete Quote </button>



