<!-- <div  class="ok">
<h2>Author</h2>
<ul>
  <li *ngFor="let quote of quotes;let i = index" >{{quote.author}}</li>
</ul>
</div>
<div  class="ok">
<h2>Upvotes</h2>
<ul>
  <li *ngFor="let quote of quotes;let i = index">{{quote.upvotes}}</li>
</ul>
</div>
<div class="ok">
  <h2>Downvotes</h2>
<ul>
  <li *ngFor="let quote of quotes;let i = index">{{quote.downvotes}}</li>
</ul>
</div> -->
<p>Author: ~ {{quote.author}}</p>
<p>{{quote.upvotes}} upvotes</p>
<p>User names: {{quote.userNames}}</p>
<button (click) = 'deleteQuote(true)'> Delete Quote </button>

