/* *{
  background-color: rgb(221, 197, 245);
} */
button{
  background-color: rgb(10, 10, 58);
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}
.paras{
  border: 2px solid black;
  padding: 2px;
  padding-left:10px; 
  background-color: rgb(226, 207, 245);
}